.fd-table{
    border: 1px solid #ccc;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
    &__caption {
        font-size: 1.5rem;
        margin: .5em 0 .75rem;
        text-align: left;
        &-flag {
            display: inline-block;
            vertical-align: middle;
            margin-right: 1rem;
            max-width: 2rem;
            img{
                display: block;
                width: 100%;
            }
        }
    }
    &__head {
        .fd-table{
            &__row {
                background-color: #f8f8f8;
            }
        }
    }
    &__body {

    }
    &__row {
        background-color: #FFF;
        border: 1px solid #ddd;
        padding: 0;
        &:hover {
            background-color: #f8f8f8;
        }

        //RANK POSITIONS
        &.champions {
            .fd-table {
                &__col-int{
                    &::before{
                        content: "";
                        border-left: 4px solid green;
                        position: absolute;
                        top: 0;
                        left: 0;
                        height: 100%;
                    }
                }
            }
        }
        &.uefa {
            .fd-table {
                &__col-int{
                    &::before{
                        content: "";
                        border-left: 4px solid yellow;
                        position: absolute;
                        top: 0;
                        left: 0;
                        height: 100%;
                    }
                }
            }
        }
        &.relegation {
            .fd-table {
                &__col-int{
                    &::before{
                        content: "";
                        border-left: 4px solid red;
                        position: absolute;
                        top: 0;
                        left: 0;
                        height: 100%;
                    }
                }
            }
        }
    }
    &__col {
        position: relative;
        padding: 0.5rem 0;
        text-align: center;
        width: 8.75%;
        &:first-child {
            min-width: 18.75rem;
            width: 30%;
        }
        &:nth-child(2) {
            background: #333;
            color: #fff;
        }
    }
    
    &__col-int{
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        align-items: center;
    }
    &__team-rank {
        flex-basis: 3.25rem;
        font-size: 1.5rem;
        color: red;
        font-weight: bold;
        padding: 0 0 0 1rem;
    }
    &__team-logo {
        display: flex;
        padding: 0 1rem 0 0;
        flex-basis: 4.0625rem;
        justify-content: center;
    }
    &__logo-team {
        display: block;
        max-width: 2rem;
        max-height: 2rem;
    }
    &__team-name {
        font-size: 1.2rem;
    }
    &__collapse-button{
        display: none;
    }

    &__legend {
        display: flex; 
        flex-wrap: wrap;
        list-style: none;
        margin-top: 1rem;
        > li {
            margin-right: 1rem;
            span {
                padding-left: 0.5rem;
            }
            &:before{
                content: "";
                border-left: 5px solid green;
            }
            &.fd-table__zone-top-1 {
                &:before{
                    border-left-color: green;
                }
            }
            &.fd-table__zone-top-2 {
                &:before{
                    border-left-color: yellow;
                }
            }
            &.fd-table__zone-top-3 {
                &:before{
                    border-left-color: blue;
                }
            }
            &.fd-table__zone-bottom-1 {
                &:before{
                    border-left-color: red;
                }
            }
        }
    }
    
}


@media screen and (max-width: 37.5rem) {
    .fd-table{
      border: 0;

        &__head {
            border: none;
            clip: rect(0 0 0 0);
            height: 1px;
            margin: -1px;
            overflow: hidden;
            padding: 0;
            position: absolute;
            width: 1px;
        }

        &__row {
            border-bottom: 3px solid #ddd;
            display: block;
            margin-bottom: .625em;
            transition: max-height 1s ease;
            cursor: pointer;
            &.collapsed {
                max-height: 3.5rem;
                overflow: hidden;
                &-in{
                    max-height: 37.5rem;
                    overflow: auto;
                    overflow-y: hidden;
                    .fd-table {
                        &__collapse-button {
                            &:after{
                                border-top: 0;
                                border-bottom: 8px solid #333;
                            }
                        }
                    }
                }
            }
        }

        &__col {
            border-bottom: 1px solid #ddd;
            display: block;
            font-size: .8rem;
            text-align: left;
            width: 100%;
            padding-left: 1rem;
            &:first-child {
                width: 100%;
                padding-left: 0;
            }
            &::before {
                /*
                * aria-label has no advantage, it won't be read inside a table
                content: attr(aria-label);
                */
                content: attr(data-label);
                font-weight: bold;
                text-transform: uppercase;
            }
           

            &:last-child {
                border-bottom: 0;
            }
        }
        &__collapse-button{
            position: absolute;
            display: block;
            right: 0;
            text-indent: -999rem;
            overflow: hidden;
            width: 3rem;
            border: 0;
            background: none;
            height: 100%;
            &:after{
                content:"";
                position: absolute;
                border-left: 8px solid transparent;
                border-right: 8px solid transparent;
                border-top: 8px solid #333;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
        
    }

  }