.fd-simpledialog {
    .MuiDialog-paper {
        padding: 2rem;
        flex-basis: 64rem;
        max-width: 64rem;
        overflow-x: hidden;
    }
    .MuiDialogTitle-root {
        padding: 0;
        display: flex;
        align-items: center;
    }
    &__close {
        position: absolute;
        right: 1rem;
        top: 1rem;
        font-family: cursive;
        border: 0;
        border-radius: 50%;
        font-size: rem(32);
        width: rem(40);
        height: rem(40);
        line-height: rem(32);
    }
    &__dlist{
        display: flex;
        flex-flow: row wrap;
        padding-top: 0.5rem;
        border-top: 1px solid color(blue);
    }
    &__dlist-title {
        font-weight: bold;
        flex-basis: 20%;
    }
    &__dlist-description {
        flex-basis: 30%;

    }
    &__subtitle{
        font-size: 2rem;
    }
    &__logo-team{
        max-width: 1.4rem;
    }
    &__photo{
        max-width: 7rem;
        border-radius: 50%;
        &-team{
            max-width: 7rem;
        }
    }

    &__player-info {
        padding-left: rem(16);
    }
    &__player-position {
        font-size: rem(12);
    }
    &__player-team {
        font-size: rem(12);
        display: flex;
        align-items: center;
        > img {
            margin-right: rem(4);
        }
    }
    &__content {
        margin-top: rem(8);
    }   
    &__venue-box {
        margin: rem(16) rem(32);
        text-align: center;
    }
    &__venue-img {
        width: auto;
        max-width: 100%;
        border: 1px solid #000;
    }
}

@include media-query('md') {
    .fd-simpledialog {
        &__dlist-title {
            flex-basis: 36%;
        }
        &__dlist-description {
            flex-basis: 64%;
    
        }
    }
}

@include media-query('md') {
    .fd-simpledialog {
        &__dlist-title {
            flex-basis: 50%;
        }
        &__dlist-description {
            flex-basis: 50%;
        }
    }
}


@include media-query('xs') {
    .fd-simpledialog {
        .MuiDialog-paper {
            max-width: 100%;
            flex-basis: 100%;
        }
        &__dlist-title {
            flex-basis: 100%;
        }
        &__dlist-description {
            flex-basis: 100%;
    
        }
        &__photo {
            max-width: 5rem;
        }
        &__subtitle{
            font-size: rem(20);
        }
    }
}

