@import "../../styles/_styles__settings__tools";

.fd-ranking {
    display: flex;
    flex-flow: wrap;
    gap: 0 rem(16);

    &__box {
        border: 1px solid #a3a3a3;
        flex-basis: calc(33% - 8px);
    }

    &__header {
        font-size: 1.25rem;
        font-weight: bold;
        padding: 1rem;
        border-bottom: 1px solid #a3a3a3;
        background-color: #dfdfdf;
    }

    &__row {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        border-top: 1px solid color(grey-1);
    }
    &__col {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__player-photo {
        max-width: rem(60);
    }
    &__team-photo {
        max-width: rem(20);
    }
    &__player-info {
        display: flex;
        flex-flow: column nowrap;
        align-items: flex-start;
        padding: rem(8) rem(8) rem(8) rem(16);
        
    }
    &__player-position {
        font-size: rem(12);
        font-style: italic;
    }
    &__player-team {
        font-size: rem(12);
    }
    &__player-rank {
        flex-basis: 10%;
        background: #e7e7e7;
    }
    &__player-content {
        flex-basis: 75%;
        padding-left: rem(8);
        border-left: 1px solid color(grey-1);
    }
    &__player-number {
        flex-basis: 15%;
    }
    &__player-button {
        display: flex;
        align-items: flex-end;
        flex-basis: 100%;
        border: 0;
        background: transparent;
    }
}


@include media-query('md') {
    .fd-ranking {
        &__box {
            flex-basis: calc(50% - 8px);
        }
    }
}

@include media-query('sm') {
    .fd-ranking {
        gap: 1rem 0;
        &__box {
            flex-basis: calc(100%);
        }
    }
}