.fd-select__flag{
    background-size: cover;
    display: block;
    width: 1.5625rem;
    height: 1.125rem;
    margin-right: 1.25rem;
}
.fd-select__select .MuiSelect-select {
    display: flex;
}

