
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: left;
}

.fd-tabs {
  .MuiTabs-scroller{
    overflow: auto!important;
  }
  &__panel.MuiTabPanel-root{
    padding: 1.5rem 0 0;
  }
}

@import './styles/reset';


