
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: left;
}

.fd-tabs {
  .MuiTabs-scroller{
    overflow: auto!important;
  }
  &__panel.MuiTabPanel-root{
    padding: 1.5rem 0 0;
  }
}

@import './styles/settings/_settings__config';
@import './styles/settings/_settings__colors';
@import './styles/settings/_settings__responsive';

@import './styles/tools/_tools__responsive';



@import './shared/components/SimpleDialog/SimpleDialog.scss';

@import './styles/reset';


